.red {
    background-color:red;
    width:200px;
    height:200px;
}

.blue {
    background-color:blue;
    width:100px;
    height:100px;
}

.yellow {
    background-color:yellow;
    width:150px;
    height:150px;
}

body {
    margin:0;
}

.one, .three, .four, .five {
    display:flex;
    flex-direction:row;
}

.one {
    justify-content:space-between;
}

.one div:nth-child(2) {
    margin-top:100px;
}

.two div:nth-child(2) {
    margin-left:140px;
    z-index: -1;
    bottom:50px;
    position:relative;
}

.three div:nth-child(1) {
    margin-left:200px;
}

.three div:nth-child(2) {
    margin-top:100px;
}

.three div:nth-child(3) {
    z-index: 2;
    top:150px;
    right:100px;
    position:relative;
}

.four div:nth-child(1) {
    margin-left:550px;
    margin-top:525px;
    z-index:-1;
    position:relative;
    left:60px;
}

.four div:nth-child(2) {
    margin-top:592px;
}

.four div:nth-child(3) {
    margin-top:530px;
    position:relative;
    right:60px;
}

.five div:nth-child(2) {
    margin-left:20px;
}

.five div:nth-child(3) {
    position:relative;
    right:100px;
    top:120px;
}